<header >
  <nav class="navbar navbar-expand-md navbar-dark bg-dark menu">
    <div>
      <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="navbar-brand">Bakke Spring</a>
    </div>
    <ul class="navbar-nav">
      <li >
        <a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" [routerLink]="['/welcome']" routerLinkActive="router-link-active"  class="nav-link">HOME</a>
      </li>
      <li >
          <a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" [routerLink]="['/todos']" routerLinkActive="router-link-active"  class="nav-link">TODOS</a>
        </li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
        <li >
          <a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" [routerLink]="['/login']" routerLinkActive="router-link-active"  class="nav-link">LOGIN</a>
        </li>
        <li >
            <a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" [routerLink]="['/logout']" routerLinkActive="router-link-active"  class="nav-link">LOGOUT</a>
          </li>
      </ul>
  </nav>
</header>
